/* Designed by Matus Hatala. Made in collaboration with Leonardo Almeida, Georgi Lazarov & Ervin Samsonov. */

html {
    scroll-behavior: smooth;
}

body {
    -webkit-animation: fadein 0.6s;
    -moz-animation: fadein 0.6s;
    -ms-animation: fadein 0.6s;
    -o-animation: fadein 0.6s;
    animation: fadein 0.6s;
    font-family: 'Colfax', sans-serif;
}

@font-face {
    font-family: 'Colfax', sans-serif;
    src: url('https://matushatala.github.io/Mind-Flex/fonts/Colfax-Bold.woff2') format('woff2'),
        url('https://matushatala.github.io/Mind-Flex/fonts/Colfax-Bold.woff') format('woff'),
        url('https://matushatala.github.io/Mind-Flex/fonts/Colfax-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Colfax', sans-serif;
    src: url('https://matushatala.github.io/Mind-Flex/fonts/Colfax-Regular.woff2') format('woff2'),
        url('https://matushatala.github.io/Mind-Flex/fonts/Colfax-Regular.woff') format('woff'),
        url('https://matushatala.github.io/Mind-Flex/fonts/Colfax-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.emotion {
    transition: all .5s ease-in-out;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.06);
	-moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.06);
	box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.06);
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
}

.emotion:hover {
	-webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.12);
	-moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.12);
	box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.12);
}
