/* Designed by Matus Hatala. Made in collaboration with Leonardo Almeida, Georgi Lazarov & Ervin Samsonov. */

* {
    font-family: 'Colfax' !important;
}

.emotion {
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.06);
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
}

.emotion:hover {
    transition: all .5s ease-in-out;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.10);
}

@media screen and (min-width: 415px) and (max-height: 670px) {
    .mind-flex-screen {
        display: none !important;
    }
}

@media screen and (max-height: 560px) {
    .mobile-ui {
        display: none !important;
    }
}