/* Designed by Matus Hatala. Made in collaboration with Leonardo Almeida, Georgi Lazarov & Ervin Samsonov. */

@font-face {
    font-family: "Colfax";
    src: url('https://matushatala.github.io/Mind-Flex/fonts/Colfax-Bold.woff2') format('woff2'),
        url('https://matushatala.github.io/Mind-Flex/fonts/Colfax-Bold.woff') format('woff'),
        url('https://matushatala.github.io/Mind-Flex/fonts/Colfax-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Colfax";
    src: url('https://matushatala.github.io/Mind-Flex/fonts/Colfax-Regular.woff2') format('woff2'),
        url('https://matushatala.github.io/Mind-Flex/fonts/Colfax-Regular.woff') format('woff'),
        url('https://matushatala.github.io/Mind-Flex/fonts/Colfax-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Colfax"!important;
}

.emotion {
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.06);
	-moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.06);
	box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.06);
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
}

.emotion:hover {
	transition: all .5s ease-in-out;
	-webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.10);
	-moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.10);
	box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.10);
}
